.footer-container {
    width: calc(100% - 100px);
    /* height: 200px; */
    background-color: #1A2C38;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.footer-container .footer-site-detail {
    width: 30%;
} 

.footer-container .footer-site-detail img {
    width: 100px;
    height: 65px;
}

.footer-container .footer-site-detail p {
    color: #7F8284;
    font-size: 10px;
}

.footer-container .footer-info {
    margin-left: 30px;
}

.footer-container .footer-info h4 {
    color: #fff;
}

.footer-container .footer-info p {
    color: #A7A8A9;
    cursor: pointer;
    font-size: 12px;
}

.footer-container .footer-info .footer-communnity-container {
    display: flex;
    flex-direction: row;
}

.footer-container .footer-info .footer-communnity-icon {
    cursor: pointer;
    margin-right: 15px;
}